@import "~ant-design-vue/dist/antd.less";
@import "./markdown";

.theme-light {
  --color: #202124;
  --border-color: #d4d4d4;

  --left-color: #4a4a4a;
  --left-bg: #f2f2f2;

  --middle-color: #4a4a4a;
  --middle-bg: #f2f2f2;

  --right-color: #4a4a4a;
  --right-bg: #f2f2f2;

  --notebook-bg: transparent;
  --notebook-active-bg: #4a4a4a;
  --notebook-color: #4a4a4a;
  --notebook-active-color: #fff;
  --notebook-hover-bg: #d4d4d4;

  --note-bg: transparent;
  --note-active-bg: #4a4a4a;
  --note-color: #4a4a4a;
  --note-active-color: #fff;
  --note-hover-bg: #d4d4d4;

  --editor-bg: #fff;

  a {
    color: #d73a49;
  }
}

.theme-dark {
  --color: #c5c8c6;
  --border-color: #202124;

  --left-color: #c5c8c6;
  --left-bg: #36363a;

  --middle-color: #c5c8c6;
  --middle-bg: #36363a;

  --right-color: #c5c8c6;
  --right-bg: #36363a;

  --notebook-bg: transparent;
  --notebook-active-bg: rgba(255, 255, 255, 0.1);
  --notebook-color: #c5c8c6;
  --notebook-active-color: #ffffff;
  --notebook-hover-bg: rgba(255, 255, 255, 0.1);

  --note-bg: transparent;
  --note-active-bg: rgba(255, 255, 255, 0.1);
  --note-color: #c5c8c6;
  --note-active-color: #ffffff;
  --note-hover-bg: rgba(255, 255, 255, 0.1);

  --editor-bg: #36363a;

  a {
    color: #b5bd68;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}

* {
  box-sizing: border-box;
}

.ant-input-group-addon {
  background: transparent;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ace_editor {
  background: transparent !important;
}

.ace_hidden-cursors {
  opacity: 0;
}
