@import '~ant-design-vue/dist/antd.less';
@import "./markdown";

.theme-default {
  --border-color: #d4d4d4;

  --left-color: #4a4a4a;
  --left-bg: #f2f2f2;

  --middle-color: #4a4a4a;
  --middle-bg: #f2f2f2;

  --right-color: #4a4a4a;
  --right-bg: #f2f2f2;

  --notebook-bg: transparent;
  --notebook-active-bg: #4a4a4a;
  --notebook-color: #4a4a4a;
  --notebook-active-color: #fff;
  --notebook-hover-bg: #d4d4d4;

  --note-bg: transparent;
  --note-active-bg: #4a4a4a;
  --note-color: #4a4a4a;
  --note-active-color: #fff;
  --note-hover-bg: #d4d4d4;

  --editor-bg: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}

* {
  box-sizing: border-box;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ace_hidden-cursors {
  opacity: 0;
}
